.App {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
}
main{
  margin-top: 30px;
}
movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
movies div {
  margin: 20px;
}
movies img {
  max-height: 200px;
  max-width: auto;
}
.movieContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movieDetails {
  max-width: 50vw;
}

